/**
* This only should be used inside this file
*/
$INTERNAL_DEFAULT_SPACING: 8px;

$spacing-1x: $INTERNAL_DEFAULT_SPACING;
$spacing-2x: $INTERNAL_DEFAULT_SPACING * 2;
$spacing-3x: $INTERNAL_DEFAULT_SPACING * 3;
$spacing-4x: $INTERNAL_DEFAULT_SPACING * 4;
$spacing-5x: $INTERNAL_DEFAULT_SPACING * 5;
$spacing-6x: $INTERNAL_DEFAULT_SPACING * 6;
$spacing-7x: $INTERNAL_DEFAULT_SPACING * 7;
$spacing-8x: $INTERNAL_DEFAULT_SPACING * 8;
$spacing-9x: $INTERNAL_DEFAULT_SPACING * 9;
$spacing-10x: $INTERNAL_DEFAULT_SPACING * 10;
